<script setup>
import { computed } from 'vue';
import { login, logout, emulation } from '../js/db';
import { user } from '../js/users';
import Loading from '../components/Loading.vue';
import { loadRanges, currentRange, nextRange } from '../js/ranges';
import travelicons from '../components/TravelIcons.vue';
import { useRouter, useRoute } from 'vue-router';
import { th } from '../js/util';
import { now } from '../js/timer';
import { itemsLoaded } from '../js/loaded';

loadRanges();

const router = useRouter();
const route = useRoute();

const activeTab = computed(() => {
  return route.name;
});

const bannerInfo = computed(() => {
  const data = {
    current: {},
    next: {},
  };

  if (currentRange.value === null) {
    data.current.text = 'Chris´ current whereabouts are unknown';
    data.current.icon = 'globe';
  } else {
    const startDate = currentRange.value.startDate;
    const diff = now.value.diff(startDate, 'days').days;
    const displayDate = startDate.toFormat('MMM ') + th(startDate) + startDate.toFormat(', yyyy');
    switch (diff) {
      case 0:
        data.current.text = `Chris arrives in ${currentRange.value.city} today, ${displayDate}`;
        break;
      case 1:
        data.current.text = `Chris arrived in ${currentRange.value.city} yesterday, ${displayDate}`;
        break;
      default:
        data.current.text = `Chris has been in ${currentRange.value.city} for ${diff} days, since ${displayDate}`;
    }
    const lat = currentRange.value.latLng.latitude;
    const lng = currentRange.value.latLng.longitude;

    if (lat < 34 && lng > -32 && lng < 66) {
      data.current.icon = 'globe-africa';
    } else if (lng < 45) {
      data.current.icon = 'globe-europe';
    } else if (lng >= 45 && lng < 180) {
      data.current.icon = 'globe-asia';
    } else {
      data.current.icon = 'globe-americas';
    }
  }

  if (nextRange.value === null) {
    data.next.text = `There is ${currentRange.value ? '' : 'also '}no information on where Chris is heading next`;
    data.next.travelIcons = null;
  } else {
    const startDate = nextRange.value.startDate;
    const diff = startDate.diff(now.value, 'days').days;
    const displayDate = startDate.toFormat('MMM ') + th(startDate) + startDate.toFormat(', yyyy');

    if (diff === 0) {
      data.next.text = `Chris is heading to ${nextRange.value.city} today, ${displayDate}`;
    } else {
      const day = diff === 1 ? '' : 's';
      data.next.text = `Chris is heading to ${nextRange.value.city} in ${diff} day${day}, on ${displayDate}`;
    }
  }

  return data;
});

function navigate(tab) {
  router.push({ name: tab });
}
</script>

<template>
  <div>
    <section :class="['hero', emulation ? 'is-danger' : 'is-primary']">
      <loading v-if="itemsLoaded.user && !itemsLoaded.ranges"></loading>
      <div v-if="!itemsLoaded.user || itemsLoaded.ranges" class="hero-body">
        <div v-show="user.profile === null" class="container">
          <h1 class="title">Interested in knowing where Chris is these days?</h1>
          <p>
            <span class="long-text">You can </span>
            <a class="button is-medium" @click="login"> Login </a>
            <span class="long-text"> and request access to the calendar!</span>
          </p>
        </div>
        <div v-if="user.checkAccess.user" class="container">
          <h1 class="title">
            <icon :icon="bannerInfo.current.icon"></icon>&nbsp;
            <span>{{ bannerInfo.current.text }}</span>
          </h1>
          <h2 class="subtitle">
            <travelicons :range="bannerInfo.next.travelIcons"></travelicons>&nbsp;
            <span>{{ bannerInfo.next.text }}</span>
          </h2>
        </div>
        <div v-if="user.access === 'pending'" class="container">
          <h1 class="title">You’ve requested access!</h1>
          <p>
            Rest assured Chris is reviewing it. And is also super busy. Maybe shoot them a text message if it’s been a
            day or two?
          </p>
        </div>
      </div>
    </section>
    <section v-show="user.checkAccess.user" class="section pt-0 pb-0">
      <div class="tabs">
        <ul>
          <li :class="{ 'is-active': activeTab === 'ranges' }"><a @click="navigate('ranges')">Plans</a></li>
          <li :class="{ 'is-active': activeTab === 'events' }"><a @click="navigate('events')">Events</a></li>
          <li :class="{ 'is-active': activeTab === 'tabs' }"><a @click="navigate('tabs')">Tabs</a></li>
          <li :class="{ 'is-active': activeTab === 'places' }"><a @click="navigate('places')">Places</a></li>
          <li :class="{ 'is-active': activeTab === 'friends' }"><a @click="navigate('friends')">Friends</a></li>
        </ul>
      </div>
    </section>
    <nav class="level mb-3">
      <div class="level-left"></div>
      <div class="level-right">
        <p class="level-item"><a v-show="user.user" class="button g-button is-primary" @click="logout">Logout</a></p>
      </div>
    </nav>
    <section v-if="user.checkAccess.user" class="container">
      <router-view></router-view>
    </section>
  </div>
</template>

<style scoped>
.long-text {
  line-height: 3em;
}

.g-button {
  height: 40px;
  margin-top: 8px;
  margin-right: 25px;
  padding-bottom: 10px;
}
</style>
