<script setup>
import { ref, computed, onMounted } from 'vue';
import { DateTime } from 'luxon';
import { getTypeIcon, dateDisplay } from '../js/util';
import { summarizeEvents } from '../js/db';

const events = ref([]);
const sumFilter = ref('All');

onMounted(async () => {
  const e = await summarizeEvents({});
  events.value = e.data;
});

const eventList = computed(() => {
  const listing = [];
  events.value.forEach((e) => {
    e.icon = getTypeIcon(e.types[0]);
    e.startDate = DateTime.fromISO(e.startDate, { zone: 'utc' });
    e.endDate = DateTime.fromISO(e.endDate, { zone: 'utc' });
    listing.push(e);
  });
  return listing;
});

const types = computed(() => {
  const allTypes = new Set();
  eventList.value.forEach((e) => {
    e.types.forEach((t) => allTypes.add(t));
  });
  return Array.from(allTypes).sort();
});
</script>

<template>
  <div class="columns">
    <div class="column is-four-fifths">
      <table class="table">
        <thead>
          <tr>
            <th>Event</th>
            <th>Type</th>
            <th class="has-text-right">Dates</th>
            <th class="has-text-right">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="event of eventList"
            v-show="sumFilter === 'All' || event.types.includes(sumFilter)"
            :key="event.id"
          >
            <td>
              <icon :icon="event.icon" class="has-text-info"></icon>&nbsp;<span
                :class="{ 'is-italic': event.tentative }"
                >{{ event.name }}<span v-if="event.events.length > 1"> ({{ event.events.length }})</span></span
              >
            </td>
            <td>{{ event.types.join('/') }}</td>
            <td class="has-text-right">{{ dateDisplay(event.startDate, event.endDate) }}</td>
            <td class="has-text-right">{{ event.cities.join(', ') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <h5 class="subtitle smallblock pt-3">Summarize:</h5>
      <button
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': sumFilter === 'All' }]"
        @click="sumFilter = 'All'"
      >
        All
      </button>
      <button
        v-for="t of types"
        :key="t"
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': sumFilter === t }]"
        @click="sumFilter = t"
      >
        {{ t }}
      </button>
    </div>
  </div>
</template>
