<script setup>
import { computed, ref } from 'vue';
import { friendsInArea, deleteFriend } from '../js/friends';
import FriendDialog from '../components/FriendDialog.vue';
import { useConfirm } from 'primevue/useconfirm';
import { loadRanges, currentRange } from '../js/ranges';

loadRanges();

const confirm = useConfirm();
const addFriendActive = ref(false);

const friendList = computed(() => {
  return friendsInArea(currentRange.value ? currentRange.value.latLng : null, true);
});

const confirmDelete = (friend, e) => {
  if (!e.ctrlKey) return;
  confirm.require({
    message: `Delete ${friend.name}?`,
    header: 'Confirmation',
    icon: 'pi pi-exclamation-triangle',
    accept: () => deleteFriend(friend),
  });
};
</script>

<template>
  <div class="columns">
    <div class="column is-three-quarters">
      <table class="table is-striped is-hoverable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th v-show="currentRange" class="has-text-right">Dist</th>
          </tr>
        </thead>
        <tbody class="is-clickable">
          <tr v-for="f in friendList" :key="f._id" @click="confirmDelete(f, $event)">
            <td>{{ f.name }}</td>
            <td>{{ f.city }}, {{ f.country }}</td>
            <td v-show="currentRange" class="has-text-right">{{ f.distance ? `${f.distance.toFixed(0)} km` : '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <button class="button is-fullwidth" @click="addFriendActive = true">Add Friend</button>
    </div>
  </div>
  <friend-dialog :active="addFriendActive" @closing="addFriendActive = false"></friend-dialog>
</template>
