<script setup>
import { ref, reactive, computed } from 'vue';
import { DateTime } from 'luxon';
import { getScheduled } from '../js/db';

const index = ref(0);
const scheduled = ref([]);
const tz = ref(Intl.DateTimeFormat().resolvedOptions().timeZone);
const lastLoaded = ref(null);
const times = reactive({
  now: DateTime.utc(),
  start: null,
  end: null,
});

// Timer for updating
window.setInterval(() => {
  index.value += 1;
  tz.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
  times.now = DateTime.utc();
  if (!lastLoaded.value) return;
  if (lastLoaded.value.plus({ minutes: 15 }) < DateTime.utc()) {
    refreshScheduled();
  }
}, 4000);
refreshScheduled();

async function refreshScheduled() {
  times.start = times.now.minus({ hours: 4 });
  times.end = times.now.plus({ days: 5 });
  const s = await getScheduled({
    startDate: times.start.toISO(),
    endDate: times.end.toISO(),
  });

  lastLoaded.value = DateTime.utc();
  scheduled.value = s.data.scheduled;
}

const loadedDiff = computed(() => {
  if (!lastLoaded.value) return '';
  const minutes = times.now.diff(lastLoaded.value, 'minutes').get('minutes');
  if (minutes < 1) return 'recently';
  return `${Math.floor(minutes)}m ago`;
});

const heroDisplay = computed(() => {
  const heros = {
    hotels: null,
    travel: null,
    events: null,
  };

  const unimportantHeros = {
    hotels: null,
    travel: null,
    events: null,
  };

  const heroStart = times.now.minus({ minutes: 15 });
  const heroEnd = times.now.plus({ days: 2 });

  for (let s of [...scheduledInfo.value].reverse()) {
    if (s.date < heroStart || s.date > heroEnd) continue;
    if (s.important) {
      heros[s.category] = s;
    } else {
      unimportantHeros[s.category] = s;
    }
  }

  let heroReturn = Object.values(heros).filter((x) => x);
  if (heroReturn.length === 0) heroReturn = Object.values(unimportantHeros).filter((x) => x);
  return heroReturn;
});

const stackedSchedule = computed(() => {
  const result = {};
  for (let s of scheduledInfo.value) {
    if (!result[s.dateTitle]) result[s.dateTitle] = [];
    result[s.dateTitle].push(s);
  }
  return result;
});

const hero = computed(() => {
  if (heroDisplay.value.length) {
    return heroDisplay.value[index.value % heroDisplay.value.length];
  }

  return null;
});

const scheduledInfo = computed(() => {
  const sched = [];
  const now = times.now.setZone(tz.value);
  const nowISO = now.toISODate();

  function addFields(s, d) {
    let dateTitle = d.toFormat('cccc');
    if (nowISO === d.toISODate()) {
      dateTitle = 'Today';
    } else if (nowISO === d.minus({ days: 1 }).toISODate()) {
      dateTitle = 'Tomorrow';
    } else if (nowISO === d.plus({ days: 1 }).toISODate()) {
      dateTitle = 'Yesterday';
    }

    let cls = null;
    if (s.category === 'hotels') {
      cls = 'is-info';
    } else if (s.category === 'travel') {
      cls = 'is-success';
    } else {
      cls = 'is-warning';
    }

    return {
      category: s.category,
      link: s.link,
      dateTitle,
      cls,
    };
  }

  for (let s of scheduled.value) {
    const startDate = DateTime.fromISO(s.start.date, { zone: tz.value });
    let important = true;

    // if (startDate < now) {
    //   if (s.category === 'hotels') {
    //     if (startDate.toISODate() !== now.toISODate()) important = false;
    //   } else {
    //     if (rangeIsToday) important = false;
    //   }
    // }

    // eslint-disable-next-line no-unused-vars
    let [_, city, country] = [null, null, null];

    if (startDate >= times.start) {
      // eslint-disable-next-line no-unused-vars
      [_, city, country] = s.start.location.match(/(.*), (.*)/);

      sched.push({
        title: s.start.title,
        key: s.id,
        date: startDate,
        location: s.start.location,
        city,
        country,
        important,
        ...addFields(s, startDate),
      });
    }

    if (!s.end.title) continue;

    const endDate = DateTime.fromISO(s.end.date, { zone: tz.value });
    if (!s.end.title) continue;
    if (endDate > times.end) continue;

    // eslint-disable-next-line no-unused-vars
    [_, city, country] = s.end.location.match(/(.*), (.*)/);
    important = now < endDate;
    if (s.category === 'hotels' && endDate > now.plus({ hours: 36 })) important = false;
    sched.push({
      title: s.end.title,
      key: s.id + ':end',
      date: endDate,
      location: s.end.location,
      city,
      country,
      important,
      ...addFields(s, endDate),
    });
  }
  sched.sort((a, b) => a.date - b.date);
  return sched;
});
</script>

<template>
  <div>
    <section v-if="hero" :class="['hero', 'is-small', hero.cls]">
      <div class="hero-head">
        <p class="has-text-right pt-1 pr-4 is-size-7">
          loaded {{ loadedDiff }} <a @click="refreshScheduled"><icon class="mt-2" icon="sync"></icon></a>
        </p>
      </div>
      <div class="hero-body">
        <p class="title" v-html="hero.title"></p>
        <p class="subtitle">
          {{ hero.dateTitle }} at {{ hero.date.toFormat('HH:mm') }}<br />
          {{ hero.city }}
        </p>
      </div>
      <div class="hero-foot">
        <p class="has-text-right pb-1 pr-4 is-size-7">{{ tz }}</p>
      </div>
    </section>
    <section v-if="!hero && lastLoaded" class="hero is-small is-danger">
      <div class="hero-body">
        <p class="title">No data</p>
        <p class="subtitle">There is nothing scheduled. This seems unlikely?</p>
      </div>
    </section>
    <section v-if="!hero && !lastLoaded" class="hero is-small">
      <div class="hero-body">
        <p class="title">Loading</p>
      </div>
    </section>
    <section class="section pt-2">
      <div v-for="(v, k) in stackedSchedule" :key="k" class="container">
        <h3 class="is-size-5 is-uppercase has-text-weight-bold">{{ k }}</h3>
        <div v-for="s in v" :key="s.key"><span v-html="s.title"></span> @ {{ s.date.toFormat('HH:mm') }}</div>
      </div>
    </section>
  </div>
</template>

<style scoped>
.long-text {
  line-height: 3em;
}

.g-button {
  height: 40px;
  margin-top: 8px;
  margin-right: 25px;
  padding-bottom: 10px;
}
</style>
