<template>
  <div class="columns">
    <div class="is-three-fifths">
      <div id="google-map"></div>
    </div>
    <div id="route-table" class="column">
      <div class="dropdown is-active">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" @click="routeDrop = !routeDrop">
            <span>Select Routes ▼</span>
          </button>
        </div>
        <div v-show="routeDrop" id="dropdown-menu" class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a class="dropdown-item" @click="setSelected('clear')">Clear All</a>
            <a v-for="y in years" :key="y" class="dropdown-item" @click="setSelected('year', y)">{{ y }}</a>
          </div>
        </div>
      </div>

      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" @click="toggleDistanceUnit">
              {{ distanceUnit === 'mi' ? 'Miles' : 'Kilometers' }}{{ tentative ? ' (projected)' : '' }}
            </p>
            <p class="title">{{ Math.round(distance * (distanceUnit === 'mi' ? 0.621371 : 1)) }}</p>
          </div>
        </div>
      </nav>
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th>Route</th>
            <th class="has-text-right">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="r in routes"
            :key="r._id"
            :class="['is-clickable', { 'is-selected': selectedRoutes.includes(r) }]"
            @click="toggleRoute(r)"
          >
            <td>{{ r.startCity }} ➤ {{ r.endCity }}</td>
            <td class="has-text-right">{{ r.date.toFormat('MMM ') + th(r.date) + r.date.toFormat(', yyyy') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import { loadMapApi } from '../js/map';
import { getRoutes } from '../js/db';
import { DateTime } from 'luxon';
import { th, haversine } from '../js/util';

export default {
  data() {
    return {
      map: null,
      selectedRoutes: [],
      routes: [],
      markers: [],
      paths: [],
      distanceUnit: 'km',
      distance: 0,
      tentative: false,
      routeDrop: false,
    };
  },

  computed: {
    years() {
      const years = new Set();
      for (const r of this.routes) {
        years.add(r.date.year);
      }
      return Array.from(years).sort();
    },

    cities() {
      const cities = {};

      function tagCity(city, area, country, latLng, tentative) {
        const key = `${latLng._latitude},${latLng._longitude}`;
        let c = cities[key];
        if (!c) {
          c = {
            tentative,
            latLng,
            name: city,
          };
          cities[key] = c;
        } else {
          c.tentative = c.tentative || tentative;
        }
      }

      this.selectedRoutes.forEach((r) => {
        tagCity(r.startCity, r.startArea, r.startCountry, r.startLatLng, r.startTentative);
        tagCity(r.endCity, r.endArea, r.endCountry, r.endLatLng, r.endTentative);
      });
      return cities;
    },
  },

  watch: {
    map() {
      this.redraw();
    },

    currentRange() {
      if (this.selectedRoutes.length === 0) this.selectedRoutes = [];
    },

    routes() {
      this.setSelected('clear');
    },

    selectedRoutes() {
      this.redraw();
    },
  },

  mounted() {
    getRoutes({}).then((e) => {
      const routes = e.data;
      routes.forEach((r) => {
        r.date = DateTime.fromISO(r.date, { zone: 'utc' });
      });
      routes.sort((a, b) => b.date - a.date);
      this.routes = routes;
      this.redraw();
    });

    this.redraw();
  },

  methods: {
    th,

    setSelected(selected, opt) {
      this.selectedRoutes.splice(0, this.selectedRoutes.length);
      this.routeDrop = false;

      switch (selected) {
        case 'clear':
          return;
        case 'year':
          for (const r of this.routes) {
            if (r.date.year === opt) this.selectedRoutes.push(r);
          }
      }
    },

    toggleDistanceUnit() {
      this.distanceUnit = this.distanceUnit === 'mi' ? 'km' : 'mi';
    },

    toggleRoute(r) {
      const index = this.selectedRoutes.indexOf(r);
      if (index === -1) {
        this.selectedRoutes.push(r);
        this.selectedRoutes.sort((a, b) => a.date - b.date);
      } else {
        this.selectedRoutes.splice(index, 1);
      }
    },

    redraw() {
      this.tentative = false;
      this.distance = 0;

      loadMapApi().then((mapApi) => {
        if (!this.map) {
          this.map = new mapApi.Map(document.getElementById('google-map'));
        }

        for (const p of this.paths) p.setMap(null);
        for (const m of this.markers) m.setMap(null);
        this.paths.splice(0, this.paths.length);
        this.markers.splice(0, this.markers.length);

        const bounds = new mapApi.LatLngBounds();

        const cityMarker = {
          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
          scale: 0.3,
          fillOpacity: 1,
        };
        const cityColor = '#735CCE';
        const tentativeColor = '#34d15b';

        function latLngToMap(ll) {
          return { lat: ll._latitude, lng: ll._longitude };
        }

        for (const c of Object.values(this.cities)) {
          const p1 = latLngToMap(c.latLng);
          cityMarker['fillColor'] = c.tentative ? tentativeColor : cityColor;
          var marker = new mapApi.Marker({
            position: p1,
            map: this.map,
            icon: cityMarker,
          });
          this.markers.push(marker);
          bounds.extend(p1);
        }

        for (const r of this.selectedRoutes) {
          const p1 = latLngToMap(r.startLatLng);
          const p2 = latLngToMap(r.endLatLng);

          this.distance += haversine(p1, p2);
          this.tentative = this.tentative || r.tentative;

          const path = new mapApi.Polyline({
            path: [p1, p2],
            geodesic: true,
            strokeColor: r.tentative ? tentativeColor : cityColor,
            strokeOpacity: 1.0,
            strokeWeight: 2,
          });

          path.setMap(this.map);
          this.paths.push(path);
        }

        this.map.fitBounds(bounds);
      });
    },
  },
};
</script>
<style scoped>
#google-map {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background: gray;
}

#route-table {
  height: 600px;
  overflow: auto;
}

.mt-5 {
  margin-top: 5px;
}
</style>
