<script setup>
import { reactive, computed } from 'vue';
import RangeDialog from '../components/RangeDialog.vue';
import RangeItem from '../components/RangeItem.vue';
import { copyToClipboard, sortStartDates, dateDisplay } from '../js/util';
import { ranges, loadRanges, searchFilter } from '../js/ranges';
import { recalcAllVisaInfo, emulation } from '../js/db';
import { START_YEAR, END_YEAR } from '../js/consts';
import { DateTime } from 'luxon';

const addRange = reactive({
  range: null,
  active: false,
  mode: null,
});

loadRanges();

async function recalcVisas() {
  await recalcAllVisaInfo({});
  console.log('Finished Recalculating');
}

function textRecord() {
  const textRanges = Object.values(ranges);
  if (!textRanges.length) return 'No entries';

  textRanges.sort((a, b) => a.startDate.toMillis() - b.startDate.toMillis());

  let text = '';
  let lastRange = null;
  let startDate = null;

  for (let r of textRanges) {
    if (lastRange == null) {
      startDate = r.startDate;
      lastRange = r;
      continue;
    }

    if (lastRange.country === r.country) {
      lastRange = r;
      continue;
    }
    text += `${lastRange.country}  ${dateDisplay(startDate, lastRange.endDate)}\n`;
    startDate = r.startDate;
    lastRange = r;
  }

  if (lastRange) {
    text += `${lastRange.country}  ${dateDisplay(startDate, lastRange.endDate)}\n`;
  }

  copyToClipboard(text);
}

function createRange(r, mode) {
  if (r === null) {
    r = {
      startDate: rangesAndGaps.value.length
        ? rangesAndGaps.value[rangesAndGaps.value.length - 1].endDate
        : DateTime.utc().startOf('day'),
      arranged: {
        hotel: false,
      },
    };
  }

  addRange.range = r;
  addRange.active = true;
  addRange.mode = mode;
}

const activeYears = computed(() => {
  const years = [];
  for (let y = END_YEAR; y >= START_YEAR; y--) {
    years.push(y.toString());
  }

  return years;
});

const rangesAndGaps = computed(() => {
  const currentRanges = [...Object.values(ranges)];
  if (currentRanges.length === 0) return [];
  const days = new Set();
  let earlyDate = DateTime.fromISO('2050-01-01');
  let lateDate = DateTime.fromISO('1900-01-01');
  currentRanges.forEach((r) => {
    let date = r.startDate;
    while (date <= r.endDate) {
      if (date < earlyDate) earlyDate = date;
      if (date > lateDate) lateDate = date;
      days.add(date.toISODate());
      date = date.plus({ days: 1 });
    }
  });
  let startGap = null;
  let date = earlyDate;
  while (date <= lateDate) {
    if (days.has(date.toISODate())) {
      if (startGap) {
        currentRanges.push({
          gap: true,
          startDate: startGap,
          endDate: date,
        });
        startGap = null;
      }
    } else {
      if (!startGap) startGap = date.minus({ days: 1 });
    }
    date = date.plus({ days: 1 });
  }
  currentRanges.sort(sortStartDates);
  return currentRanges;
});
</script>

<template>
  <div class="columns">
    <div class="column is-four-fifths">
      <h1 v-if="!rangesAndGaps.length" class="title">There is no data for the current span of time</h1>
      <table v-if="rangesAndGaps.length" class="table is-hoverable">
        <thead>
          <th></th>
          <th></th>
          <th></th>
          <th>City</th>
          <th class="has-text-right">Dates</th>
          <th class="has-text-right">Duration</th>
          <th></th>
          <th></th>
        </thead>
        <range-item v-for="r in rangesAndGaps" :key="r._id" :range="r" @create-range="createRange"></range-item>
      </table>
    </div>
    <div class="column">
      <button class="button is-fullwidth smallblock" @click="createRange(null, 'add')">Add Range</button>
      <button v-if="emulation !== null" class="button is-fullwidth smallblock" @click="emulation = !emulation">
        Turn {{ emulation ? 'Off' : 'On' }} Emulation
      </button>
      <button class="button is-fullwidth smallblock" @click="recalcVisas">Recalculate Visas</button>
      <button class="button is-fullwidth smallblock" @click="textRecord">Copy Text Record</button>
      <h5 class="subtitle smallblock pt-3">Limit trips to:</h5>
      <button
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': searchFilter === 'all' }]"
        @click="searchFilter = 'all'"
      >
        All
      </button>
      <button
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': searchFilter === 'ongoing' }]"
        @click="searchFilter = 'ongoing'"
      >
        Ongoing travel
      </button>
      <button
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': searchFilter === 'threemonth' }]"
        @click="searchFilter = 'threemonth'"
      >
        A three month window
      </button>
      <button
        v-for="y of activeYears"
        :key="y"
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': searchFilter === 'y' + y }]"
        @click="searchFilter = 'y' + y"
      >
        {{ y }}
      </button>
    </div>
    <range-dialog
      :active="addRange.active"
      :range="addRange.range"
      :mode="addRange.mode"
      @closing="addRange.active = false"
    ></range-dialog>
  </div>
</template>

<style scoped>
.modal-card-body {
  height: 380px;
}
</style>
