<script setup>
import { ref, reactive, computed, watch, onMounted } from 'vue';
import { collection, onSnapshot } from 'firebase/firestore';

import CountryTable from '../components/CountryTable.vue';
import CityTable from '../components/CityTable.vue';
import { DateTime } from 'luxon';
import { summarizeTravel, db } from '../js/db';

const sumFilter = ref(localStorage.sumFilter || 'all');
const currentYearKey = `y${DateTime.utc().year}`;

onMounted(() => {
  onSnapshot(collection(db, 'tabCache'), (ss) => {
    ss.docChanges().forEach(
      (change) => {
        if (change.type === 'removed') {
          delete tabsCache[change.doc.id];
          return;
        }
        const t = change.doc.data();
        if (change.type === 'added' || change.type === 'modified') {
          tabsCache[change.doc.id] = t;
        }
      },
      (error) => {
        console.log(error);
      }
    );
  });
  calculateTravel();
});

watch(sumFilter, (filter) => {
  localStorage.setItem('sumFilter', filter);
  calculateTravel();
});

async function calculateTravel() {
  await summarizeTravel({ key: sumFilter.value });
}

const tabsCache = reactive({});

const summary = computed(() => {
  const cached = tabsCache[sumFilter.value];
  return (cached || {}).results || {};
});
</script>
<template>
  <div class="columns">
    <div class="column is-two-fifths">
      <country-table :summary="summary"></country-table>
    </div>
    <div class="column is-two-fifths">
      <city-table :summary="summary"></city-table>
    </div>
    <div class="column">
      <h5 class="subtitle smallblock pt-3">Summarize:</h5>
      <button
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': sumFilter === '2000-01-01:present' }]"
        @click="sumFilter = '2000-01-01:present'"
      >
        To Present
      </button>
      <button
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': sumFilter === '2018-08-14:present' }]"
        @click="sumFilter = '2018-08-14:present'"
      >
        Aug, 2018 to Present
      </button>
      <button
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': sumFilter === currentYearKey }]"
        @click="sumFilter = currentYearKey"
      >
        Current Year
      </button>
      <button
        :class="['smallblock button is-rounded is-fullwidth', { 'is-active': sumFilter === 'all' }]"
        @click="sumFilter = 'all'"
      >
        All Plans
      </button>
    </div>
  </div>
</template>
