<template>
  <div class="tile is-parent">
    <div class="tile is-child">
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Email</th>
            <th>Access</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in profiles" :key="user._id">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.access }}</td>
            <td>
              <a
                v-if="user.access === 'pending' || user.access === 'user'"
                class="button"
                @click="toggleAccess(user)"
                >{{ user.access === 'pending' ? 'Grant' : 'Revoke' }}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { getProfiles, saveProfile } from '../js/users';

export default {
  data() {
    return {
      profiles: getProfiles(),
    };
  },

  methods: {
    toggleAccess(u) {
      switch (u.access) {
        case 'pending':
          u.access = 'user';
          saveProfile(u);
          break;
        case 'user':
          u.access = 'pending';
          saveProfile(u);
          break;
      }
    },
  },
};
</script>
