<script setup>
import { logout } from '../google';
import { goNext, goBack, currentIcon, showNext, canNext, canBack, clearData } from '../event/navigation';
import { canTag, tag } from '../event/data';
</script>
<template>
  <div id="bar">
    <button type="button" class="btn btn-sm btn-secondary m-1" :disabled="!canBack" @click="goBack">
      <faIcon icon="fa-regular fa-circle-left" />
    </button>
    <div class="btn-group m-1">
      <button type="button" :disabled="!canTag" class="btn btn-sm btn-secondary" @click="tag">
        <faIcon icon="fa-solid fa-tag" />
      </button>
      <button type="button" class="btn btn-sm btn-secondary" @click="clear">
        <faIcon icon="fa-solid fa-calendar-xmark" />
      </button>
      <button type="button" class="btn btn-sm btn-secondary" @click="logout">
        <faIcon icon="fa-solid fa-right-from-bracket" />
      </button>
      <button type="button" class="btn btn-sm btn-secondary" @click="clearData">
        <faIcon icon="fa-solid fa-arrow-rotate-right" class="fa-flip-horizontal" />
      </button>
    </div>
    <div class="right-bar">
      <button
        v-show="showNext"
        type="button"
        class="btn btn-sm btn-secondary m-1"
        :disabled="!canNext"
        @click="() => goNext(true)"
      >
        <faIcon :icon="currentIcon" />
      </button>
    </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style lang="scss">
#bar {
  position: fixed;
  top: 0;
  width: $base-width;
  background-color: #000;
  display: flex;
  gap: 5px;

  .right-bar {
    flex-grow: 1;
    flex-direction: row-reverse;
    display: flex;
  }
}
</style>
