<script setup>
import { ref, onUpdated } from 'vue';
import { recentMessages, getRecentMessages, emailSearchText } from '../google';
import { getDate } from '../email';
import { eventData } from '../event/data';
import { goNext } from '../event/navigation';

const scrollBox = ref(null);

const onScroll = (e) => {
  const { scrollTop, offsetHeight, scrollHeight } = e.target;
  if (scrollTop + offsetHeight + 10 >= scrollHeight) {
    getRecentMessages(true);
  }
};

const clickEmail = (msg) => {
  eventData.currentEmail = msg;
  goNext();
};

onUpdated(() => {
  if (scrollBox.value.clientHeight > 0 && scrollBox.value.clientHeight >= scrollBox.value.scrollHeight) {
    getRecentMessages(true);
  }
});
</script>
<template>
  <input id="input-box" v-model="emailSearchText" class="m-1" />
  <label class="checkbox">
    <input v-model="recentMessages.includeArchived" type="checkbox" class="m-1" />
    Include Archived
  </label>
  <div id="email-scroll-box" ref="scrollBox" @scroll="onScroll">
    <div class="list-group">
      <a
        v-for="(msg, subj) in recentMessages.messages"
        :key="msg.id"
        href="javascript:void(0)"
        class="list-group-item list-group-item-action"
        @click="clickEmail(msg)"
        >[{{ getDate(msg).toRelative() }}] {{ subj }}</a
      >
    </div>
  </div>
</template>
<style scoped lang="scss">
$email-height: $base-height - $bar-height;
$input-margin: 5px;
$input-height: 30px;

#email-scroll-box {
  flex: 1;
  overflow-y: scroll;
}
</style>
