<script setup>
import { computed } from 'vue';
import { DatePicker } from 'v-calendar';
import { DateTime } from 'luxon';
import { eventData, uiData } from '../event/data';

const minDate = computed(() => eventData.start.date);
const maxDate = DateTime.now().plus({ years: 4 }).toJSDate();
</script>
<template>
  <div class="m-1 date-container">
    <DatePicker v-model="uiData.endDate.date" mode="dateTime" timezone="utc" is24hr :min-date="minDate" :max-date="maxDate" />
  </div>
  <div v-show="eventData.category !== 'events'" class="m-1 mt-0">
    <input
      :value="uiData.endDate.title"
      type="text"
      class="form-control"
      placeholder="End Title"
      autocomplete="off"
      @input="(x) => (uiData.endDate.title = x.target.value)"
    />
  </div>
</template>
<style scoped>
.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
