<script setup>
import { eventData } from '../event/data';
import { goNext } from '../event/navigation';

const select = (cat) => {
  eventData.category = cat;
  goNext();
};
</script>
<template>
  <div id="type-btns">
    <button type="button" class="btn btn-secondary" @click="select('hotels')">
      <faIcon icon="fa-solid fa-hotel" /> Hotels
    </button>
    <button type="button" class="btn btn-secondary" @click="select('travel')">
      <faIcon icon="fa-solid fa-plane-up" /> Travel
    </button>
    <button type="button" class="btn btn-secondary" @click="select('events')">
      <faIcon icon="fa-solid fa-ticket" /> Events
    </button>
  </div>
</template>
<style scoped lang="scss">
#type-btns {
  display: flex;
  gap: 5px;
  margin: 5px;
}

.btn {
  flex-grow: 1;
}
</style>
