<script setup>
import { uiData } from '../event/data';
</script>
<template>
  <div class="m-1">
    <input v-model="uiData.expensify.venue" class="form-control" placeholder="Venue" autocomplete="off" />
  </div>
  <div class="m-1 mt-0">
    <input v-model="uiData.expensify.price" class="form-control" placeholder="Cost" autocomplete="off" />
  </div>
</template>
