<script setup>
import { computed, ref, watch } from 'vue';
import VueMultiselect from 'vue-multiselect';
import { cities, countries } from '../locations';
import { getSearchTerm } from '../util';
import { eventData, uiData } from '../event/data';

const citySearch = ref('');
const startCountrySearch = ref('');
const endCountrySearch = ref('');

const cityOptions = computed(() => {
  return Object.entries(cities.value)
    .filter((x) => x[0].includes(citySearch.value))
    .map((x) => x[1].name);
});

const getCountryOptions = (start) => {
  return () => {
    const selectedCity = getSearchTerm(uiData.locations[start ? 'start' : 'end'].city);
    let countryOptions = countries.value;
    const cityCountryOptions = (cities.value[selectedCity] || {}).countries;
    if (cityCountryOptions) {
      countryOptions = Object.fromEntries(Object.entries(countryOptions).filter((x) => cityCountryOptions.has(x[0])));
    }
    const search = start ? startCountrySearch : endCountrySearch;
    return Object.entries(countryOptions)
      .filter((x) => x[0].includes(search.value))
      .map((x) => x[1]);
  };
};

const startCountryOptions = computed(getCountryOptions(true));
const endCountryOptions = computed(getCountryOptions(false));

const generateSearchChange = (start, city) => {
  return (search) => {
    if (city) {
      citySearch.value = getSearchTerm(search || '');
    } else {
      if (start) {
        startCountrySearch.value = getSearchTerm(search || '');
      } else {
        endCountrySearch.value = getSearchTerm(search || '');
      }
    }
  };
};

const startSearchCityChange = generateSearchChange(true, true);
const endSearchCityChange = generateSearchChange(false, true);
const startSearchCountryChange = generateSearchChange(true, false);
const endSearchCountryChange = generateSearchChange(false, false);

watch(
  () => uiData.locations.start.city,
  () => {
    if (!uiData.locations.start.country) {
      const startOptions = startCountryOptions.value;
      if (startOptions.length == 1) uiData.locations.start.country = startOptions[0];
    }

    if (eventData.category !== 'travel') uiData.locations.end.city = uiData.locations.start.city;
  }
);

watch(
  () => uiData.locations.start.country,
  () => {
    if (eventData.category !== 'travel') uiData.locations.end.country = uiData.locations.start.country;
  }
);

watch(
  () => uiData.locations.end.city,
  () => {
    if (!uiData.locations.end.country) {
      const endOptions = endCountryOptions.value;
      if (endOptions.length == 1) uiData.locations.end.country = endOptions[0];
    }
  }
);
</script>
<template>
  <div class="m-1">
    <VueMultiselect
      v-model="uiData.locations.start.city"
      :options="cityOptions"
      taggable
      :placeholder="eventData.category === 'travel' ? 'Start City' : 'City'"
      tag-placeholder="Add New City"
      :internal-search="false"
      @tag="uiData.locations.start.city = $event"
      @search-change="startSearchCityChange"
    />
  </div>
  <div class="m-1 mt-0">
    <VueMultiselect
      v-model="uiData.locations.start.country"
      :options="startCountryOptions"
      taggable
      :placeholder="eventData.category === 'travel' ? 'Start Country' : 'Country'"
      tag-placeholder="Add New Country"
      :internal-search="false"
      @tag="uiData.locations.start.country = $event"
      @search-change="startSearchCountryChange"
    />
  </div>
  <div v-show="eventData.category === 'travel'" class="m-1 mt-0">
    <VueMultiselect
      v-model="uiData.locations.end.city"
      :options="cityOptions"
      taggable
      placeholder="End City"
      tag-placeholder="Add New City"
      :internal-search="false"
      @tag="uiData.locations.end.city = $event"
      @search-change="endSearchCityChange"
    />
  </div>
  <div v-show="eventData.category === 'travel'" class="m-1 mt-0">
    <VueMultiselect
      v-model="uiData.locations.end.country"
      :options="endCountryOptions"
      taggable
      placeholder="End Country"
      tag-placeholder="Add New Country"
      :internal-search="false"
      @tag="uiData.locations.end.country = $event"
      @search-change="endSearchCountryChange"
    />
  </div>
</template>
