<script setup>
import { computed } from 'vue';
import { DatePicker } from 'v-calendar';
import { DateTime } from 'luxon';
import { eventData, uiData } from '../event/data';

const placeholder = computed(() => {
  if (eventData.category === 'travel') return 'Start Title';
  return 'Title';
});

const minDate = DateTime.now().minus({ years: 1 }).toJSDate();
const maxDate = DateTime.now().plus({ years: 4 }).toJSDate();
</script>
<template>
  <div class="m-1 date-container">
    <DatePicker v-model="uiData.startDate.date" mode="dateTime" timezone="utc" is24hr :min-date="minDate" :max-date="maxDate" />
  </div>
  <div class="m-1 mt-0">
    <input
      :value="uiData.startDate.title"
      type="text"
      class="form-control"
      :placeholder="placeholder"
      autocomplete="off"
      @input="(x) => (uiData.startDate.title = x.target.value)"
    />
  </div>
</template>
<style scoped>
.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
