<script setup>
import { computed } from 'vue';
import { DateTime } from 'luxon';
import { eventData, uiData } from '../event/data';

const thisYear = DateTime.utc().year;

const descDateFmt = (x) => {
  if (!x) return '';
  x = DateTime.fromJSDate(x, { zone: 'utc' });

  let s = x.toFormat('LLL d');
  if (x.year !== thisYear) s += `, ${x.year}`;
  s += `@${x.toFormat('H:mm')}`;
  return s;
};

const summary = computed(() => {
  let desc = `<b>${eventData.start.title}</b><br>`;
  if (eventData.end.title) desc += `<b>${eventData.end.title}</b><br>`;
  desc += `${eventData.start.city}, ${eventData.start.country}`;
  if (eventData.start.city !== eventData.end.city || eventData.start.country !== eventData.end.country)
    desc += ` to ${eventData.end.city}, ${eventData.end.country}`;
  desc += '<br>';
  desc += `${descDateFmt(eventData.start.date)} to ${descDateFmt(eventData.end.date)}<br>`;
  if (eventData.expense.amount) {
    desc += `${eventData.expense.amount} ${eventData.expense.currency} @ ${eventData.expense.venue}<br>`;
  }
  return desc;
});
</script>
<template>
  <div>
    <div class="m-1" v-html="summary" />
    <div class="m-1">
      <div v-show="eventData.category === 'hotels'" class="form-check">
        <input
          v-model="uiData.summary.submitExpense"
          class="form-check-input"
          type="checkbox"
          :disabled="!eventData.expense.currency"
        />
        <label class="form-check-label">Submit expense</label>
      </div>
      <div class="form-check" v-if="eventData.category === 'travel'">
        <input v-model="uiData.summary.roundTrip" class="form-check-input" type="checkbox" />
        <label class="form-check-label">Round Trip</label>
      </div>
    </div>
  </div>
</template>
