<script setup>
import { checkLogin } from './src/google';
import { currentComponent } from './src/event/navigation';
import { eventData } from './src/event/data';

import ButtonBar from './src/components/ButtonBar.vue';
import WebPage from './src/components/WebPage.vue';

checkLogin();
</script>
<template>
  <ButtonBar></ButtonBar>
  <div id="content">
    <component :is="currentComponent"></component>
  </div>
  <WebPage id="email-display" v-if="eventData.currentEmail"></WebPage>
</template>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 10pt;
}

#content {
  position: fixed;
  top: $bar-height;
  width: $base-width;
  height: $base-height - $bar-height;
  display: flex;
  flex-direction: column;
}

#email-display {
  position: fixed;
  top: 0;
  left: $base-width;
  width: $base-width;
  height: $base-height;
}
</style>
