<script setup>
import ConfirmDialog from 'primevue/confirmdialog';
</script>
<template>
  <router-view></router-view>
  <ConfirmDialog></ConfirmDialog>
</template>
<style lang="scss">
$primary: #6600ff;

@import 'bulma/bulma.sass';

.icon-spacing {
  margin-left: 1px;
  margin-right: 1px;
}

.smallblock:not(:last-child) {
  margin-bottom: 0.3rem;
}

@import 'primevue/resources/themes/saga-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
</style>
