<template>
  <div :class="['dropdown', 'is-up', { 'is-active': dropOpen === travel }]">
    <div class="dropdown-trigger" @click="$emit('drop')">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <icon :icon="travelIcons[travel]" :class="['fa-fw', 'fa-2x', getButtonClass(travel)]"></icon>
      </button>
    </div>
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a
          v-for="(v, k) in sequence"
          :key="k"
          :class="['dropdown-item', { 'is-active': k === (setting || 'unneeded') }]"
          @click="$emit('change', k)"
        >
          {{ v }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { getTravelIconClass } from '../js/util';
import { ARRANGED_ICONS } from '../js/consts';

export default {
  props: {
    travel: { type: String, default: '' },
    setting: { type: String, default: '' },
    dropOpen: { type: Boolean, default: false },
  },
  emits: ['drop', 'change'],
  computed: {
    travelIcons() {
      return ARRANGED_ICONS;
    },

    sequence() {
      return {
        required: 'Required',
        booked: 'Booked',
        partial: 'Partially Booked',
        'day-of': 'Book Day-of-Travel',
        handled: 'Prearranged',
        unneeded: 'Unnecessary',
      };
    },
  },
  methods: {
    getButtonClass() {
      return getTravelIconClass(this.setting);
    },

    chooseTravel() {
      const sequence = ['required', 'booked', 'partial', 'day-of', 'handled', 'unneeded'];

      let index = sequence.indexOf(this.setting) + 1;
      if (index === sequence.length) index = 0;
      //this.setting = sequence[index];
      this.$emit('change', this.setting);
    },
  },
};
</script>
