<template>
  <table class="table">
    <thead>
      <tr>
        <th @click="sortBy = 'visit'">Cities ({{ citySort.length }})</th>
        <th @click="sortBy = 'days'">Days</th>
        <th @click="sortBy = 'visits'">Visits</th>
      </tr>
    </thead>
    <tbody v-for="c of citySort" :key="c.key">
      <tr class="no-border">
        <td class="no-border">
          {{ c.city }} <span class="is-size-7">{{ c.country }}</span>
        </td>
        <td class="no-border has-text-right">{{ c.days }}</td>
        <td class="no-border has-text-right">{{ c.visits }}</td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  props: { summary: { type: Object, default: () => null } },

  data() {
    return {
      sortBy: 'visit',
    };
  },

  computed: {
    cities() {
      const cities = {};
      for (let [c, cInfo] of Object.entries(this.summary)) {
        for (let [a, aInfo] of Object.entries(cInfo.areas)) {
          for (let [city, cityInfo] of Object.entries(aInfo.cities)) {
            cities[city] = {
              ...cityInfo,
              city,
              country: c,
              key: `${c}|${a}|${city}`,
            };
          }
        }
      }
      return cities;
    },

    citySort() {
      const cities = Object.keys(this.cities).sort((a, b) => a.localeCompare(b));
      return cities.map((c) => this.cities[c]);
    },
  },
};
</script>
<style scoped>
.no-border {
  border: 0px;
}
</style>
