<template>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th @click="sortBy = 'visit'">Countries: ({{ countries.length }})</th>
        <th @click="sortBy = 'days'">Days</th>
        <th @click="sortBy = 'visits'">Visits</th>
      </tr>
    </thead>
    <tbody v-for="c of countries" :key="c">
      <tr class="no-border">
        <td class="no-border" @click="toggle(c)">
          <icon :icon="['far', expandedAreas.includes(c) ? 'check-square' : 'square']"></icon>
        </td>
        <td class="no-border">{{ c }}</td>
        <td class="no-border has-text-right">{{ summary[c].days }}</td>
        <td class="no-border has-text-right">{{ summary[c].visits }}</td>
      </tr>
      <tr v-for="a of areas(c)" v-if="expandedAreas.includes(c)" :key="a" class="no-border">
        <td class="no-border"></td>
        <td class="no-border has-text-right is-size-7">{{ a }}</td>
        <td class="no-border has-text-right is-size-7">{{ summary[c].areas[a].days }}</td>
        <td class="no-border has-text-right is-size-7">{{ summary[c].areas[a].visits }}</td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  props: { summary: { type: Object, default: () => null } },

  data() {
    return {
      sortBy: 'visit',
      expandedAreas: JSON.parse(localStorage.getItem('expandedAreas') || '[]'),
    };
  },

  computed: {
    countries() {
      return Object.keys(this.summary).sort((a, b) => a.localeCompare(b));
    },
  },

  methods: {
    areas(country) {
      return Object.keys(this.summary[country].areas).sort((a, b) => a.localeCompare(b));
    },

    toggle(country) {
      if (this.expandedAreas.includes(country)) {
        this.expandedAreas = this.expandedAreas.filter((c) => c !== country);
      } else {
        this.expandedAreas.push(country);
      }
      localStorage.setItem('expandedAreas', JSON.stringify(this.expandedAreas));
    },
  },
};
</script>
<style scoped>
.no-border {
  border: 0px;
}
</style>
