<script setup>
import { reactive, computed, watch } from 'vue';
import { saveFriend } from '../js/friends';
import { attachAutocomplete } from '../js/map';
import { breakApartGeocode } from '../js/geocode';
import { GeoPoint } from 'firebase/firestore';
import { STATES } from '../js/consts';

const props = defineProps({ active: { type: Boolean, default: false } });
const emit = defineEmits(['closing']);

const data = reactive({
  name: null,
  city: null,
  country: null,
  latLng: null,
  location: null,
});

async function createFriend() {
  await saveFriend({
    name: data.name,
    city: data.city,
    country: data.country,
    latLng: data.latLng,
  });

  emit('closing');
}

watch(
  () => props.active,
  (isActive) => {
    if (!isActive) return;
    data.name = null;
    data.city = null;
    data.country = null;
    data.location = null;

    attachAutocomplete('location-autocomplete2', {}, (p) => {
      const results = breakApartGeocode(p);
      data.city = results.city;
      data.country = results.country;
      data.latLng = new GeoPoint(p.geometry.location.lat(), p.geometry.location.lng());
      if (data.country === 'United States') data.city += `, ${STATES[results.area]}`;
      data.location = `${data.city}, ${data.country}`;
    });
  }
);

const validData = computed(() => {
  if (!data.name || !data.name.trim()) return false;
  if (!data.city) return false;
  if (!data.country) return false;
  return true;
});
</script>
<template>
  <div :class="[active ? 'is-active' : '', 'modal']">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Friend</p>
        <button class="delete" aria-label="close" @click="emit('closing')"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <input v-model="data.name" class="input" type="text" placeholder="Friend" />
        </div>
        <div class="field">
          <input id="location-autocomplete2" class="input" :value="data.location" placeholder="Location" />
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" :disabled="!validData" @click="createFriend">Save</button>
        <button class="button" @click="emit('closing')">Cancel</button>
      </footer>
    </div>
  </div>
</template>

<style scoped>
.modal-card-body {
  height: 380px;
}
</style>
