<template>
  <icon v-if="zoneStyle" icon="passport" :class="zoneStyle"></icon>
</template>

<script setup>
import { ZONES } from '../js/consts';
import { computed } from 'vue';

const props = defineProps({ country: { type: String, default: null } });

const ZONE_STYLES = {
  'United States': 'has-text-danger',

  Ireland: 'has-text-success',
  'United Kingdom': 'has-text-success',
  'Isle of Man': 'has-text-success',
};

const zoneStyle = computed(() => {
  if (props.country === 'Portugal') return 'has-text-warning';
  if (ZONES[props.country] === 'Schengen') return 'has-text-info';
  return ZONE_STYLES[props.country] || null;
});
</script>
