<script setup>
import { ref, reactive, computed, watch } from 'vue';
import { DateTime } from 'luxon';
import { savePlace, groups, groupsByPlace, saveGroup } from '../js/places';
import { attachAutocomplete } from '../js/map';
import { breakApartGeocode } from '../js/geocode';
import { GeoPoint } from 'firebase/firestore';
import { DatePicker } from 'v-calendar';

function nameSort(a, b) {
  return a.name.localeCompare(b.name);
}

const props = defineProps({
  place: { type: Object, required: true },
  mode: { type: String, default: '' },
  active: { type: Boolean, default: false },
});
const emit = defineEmits(['closing']);

const calendar = ref(null);

const dropOpen = ref(false);
const groupDropOpen = ref(false);
const showCal = ref(false);

const data = reactive({
  _id: null,
  name: null,
  nameError: null,
  coords: null,
  country: null,
  source: null,
  visited: null,
  defunct: null,

  location: null,

  newGroup: null,
  selectedGroups: [],

  selectedDates: {
    start: null,
    end: null,
  },
});

function toggleCal() {
  showCal.value = !showCal.value;
  if (showCal.value && data.selectedDates.start) {
    calendar.value.move(data.selectedDates.start);
  }
}

function addGroup(gId) {
  if (!data.selectedGroups.includes(gId)) data.selectedGroups.push(gId);
}

function removeGroup(gId) {
  data.selectedGroups = data.selectedGroups.filter((x) => x !== gId);
}

function getPlace() {
  const newPlace = {
    _id: data._id,
    name: data.name,
    coords: data.coords,
    country: data.country,
    source: data.source,
    visited: data.visited,
    defunct: data.defunct,
    startDate: data.selectedDates.start ? DateTime.fromJSDate(data.selectedDates.start) : null,
    endDate: data.selectedDates.end ? DateTime.fromJSDate(data.selectedDates.end) : null,
  };

  return newPlace;
}

async function createPlace() {
  data.nameError = null;

  if (!data.name.trim()) {
    data.nameError = 'Name is empty';
    return;
  }

  const p = getPlace();
  const pId = await savePlace(p);

  // Create a group if one has been added
  const trimGroup = (data.newGroup || '').trim();
  if (trimGroup) data.selectedGroups.push(await saveGroup({ name: trimGroup }));

  // Bring groups into sync
  const existingGroups = new Set((groupsByPlace[pId] || []).map((x) => x._id));
  for (let gId of data.selectedGroups) {
    if (existingGroups.has(gId)) {
      existingGroups.remove(gId);
    } else {
      groups[gId].places.add(pId);
      saveGroup(groups[gId]);
    }
  }

  for (let gId of existingGroups) {
    groups[gId].places.remove(gId);
    saveGroup(groups[gId]);
  }

  emit('closing');
}

function setDrop(source) {
  data.source = source;
  dropOpen.value = false;
}

watch(
  () => props.active,
  (isActive) => {
    if (!isActive) return;
    data.nameError = null;
    data.newGroup = null;

    if (props.mode === 'edit') {
      data._id = props.place._id;
      data.name = props.place.name;
      data.coords = props.place.coords;
      data.country = props.place.country;
      data.source = props.place.source;
      data.visited = props.place.visited;
      data.defunct = props.place.defunct;
      data.location = '(existing)';
      if (props.place.startDate) {
        data.selectedDates = {
          start: props.place.startDate.toJSDate(),
          end: props.place.endDate.toJSDate(),
        };
      } else {
        data.selectedDates = {
          start: null,
          end: null,
        };
      }
      data.selectedGroups = (groupsByPlace.value[data._id] || []).map((x) => x._id);
    } else {
      data._id = null;
      data.name = null;
      data.coords = null;
      data.country = null;
      data.source = 'Miscellaneous';
      data.visited = null;
      data.defunct = null;
      data.location = null;
      data.selectedDates = {
        start: null,
        end: null,
      };
      data.selectedGroups = [];
    }

    dropOpen.value = false;

    attachAutocomplete('location-autocomplete', {}, (p) => {
      data.location = p.name;
      if (!data.name) data.name = p.name;
      data.coords = new GeoPoint(p.geometry.location.lat(), p.geometry.location.lng());

      const results = breakApartGeocode(p);
      data.country = results.country;
    });
  }
);

const rangeDateDisplay = computed(() => {
  if (!data.selectedDates?.start) return '—';
  return (
    DateTime.fromJSDate(data.selectedDates.start, { zone: 'utc' }).toFormat('MMM d') +
    '—' +
    DateTime.fromJSDate(data.selectedDates.end, { zone: 'utc' }).toFormat('MMM d')
  );
});

const validData = computed(() => {
  if (!data.name || !data.name.trim()) return false;
  if (!data.coords) return false;
  if (!data.country) return false;
  if (!data.source) return false;

  // EDIT

  return true;
});

const sortedGroups = computed(() => {
  return Array.from(Object.values(groups)).sort(nameSort);
});
</script>
<template>
  <div :class="[active ? 'is-active' : '', 'modal']">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ mode === 'add' ? 'Add' : 'Edit' }} Place</p>
        <button class="delete" aria-label="close" @click="emit('closing')"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <input
            v-model="data.name"
            :class="{ input: true, 'is-danger': data.nameError }"
            type="text"
            placeholder="Name"
          />
        </div>
        <div class="field">
          <input id="location-autocomplete" class="input" :value="data.location" placeholder="Location" />
        </div>
        <div class="field dropdown is-active">
          <div class="dropdown-trigger">
            <a
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu"
              @click="groupDropOpen = !groupDropOpen"
            >
              <span>{{ '—' }} ▼</span>
            </a>
          </div>
          <div v-show="groupDropOpen" id="dropdown-menu" class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a v-for="g of sortedGroups" :key="g._id" class="dropdown-item" @click="addGroup(g._id)">{{ g.name }}</a>
            </div>
          </div>
        </div>
        <span v-for="gId in data.selectedGroups" :key="gId" class="tag is-success"
          >{{ groups[gId].name }}<button class="delete is-small" @click="removeGroup(gId)"></button></span
        >&nbsp;
        <div class="field">
          <input v-model="data.newGroup" class="input" type="text" placeholder="New Group" />
        </div>
        <div class="field dropdown is-active">
          <div class="dropdown-trigger">
            <a class="button" aria-haspopup="true" aria-controls="dropdown-menu" @click="dropOpen = !dropOpen">
              <span>{{ data.source || '—' }} ▼</span>
            </a>
          </div>
          <div v-show="dropOpen" id="dropdown-menu" class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a
                v-for="s of ['1000', 'Atlas Obscura', 'Mine', 'Wonders', 'Miscellaneous']"
                :key="s"
                :class="{ 'dropdown-item': true, 'is-active': data.source === s }"
                @click="setDrop(s)"
                >{{ s }}</a
              >
            </div>
          </div>
        </div>
        <div class="field">
          <div>
            <button class="button" @click="toggleCal">{{ rangeDateDisplay }}</button>
          </div>
          <DatePicker
            v-if="showCal"
            ref="calendar"
            v-model.range="data.selectedDates"
            range
            timezone="utc"
            @input="toggleCal"
          ></DatePicker>
        </div>
        <div class="field"><input v-model="data.defunct" type="checkbox" />&nbsp;<b>Defunct</b></div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" :disabled="!validData" @click="createPlace()">Save changes</button>
        <button class="button" @click="emit('closing')">Cancel</button>
      </footer>
    </div>
  </div>
</template>

<style scoped>
.modal-card-body {
  height: 380px;
}
</style>
