<template>
  <span>
    <icon v-for="(info, travel) in travelIcons" :key="travel" :icon="info.icon" :class="info.style"></icon>
  </span>
</template>

<script setup>
import { computed } from 'vue';

import { getTravelIconClass } from '../js/util';
import { ARRANGED_ICONS } from '../js/consts';

const props = defineProps({
  range: { type: Object },
  styling: { type: Boolean, default: false },
});

const travelIcons = computed(() => {
  if (!props.range) return {};

  const info = {};

  for (const travel in ARRANGED_ICONS) {
    if (travel === 'room' || !props.range.arranged[travel] || props.range.arranged[travel] === 'unneeded') continue;
    info[travel] = {
      icon: ARRANGED_ICONS[travel],
      style: props.styling ? [getTravelIconClass(props.range.arranged[travel]), 'fa-fw', 'icon-spacing'] : ['fa-fw'],
    };
  }
  return info;
});
</script>
